<ion-popover-view>
  <ion-header-bar>
    <h1 class="title">Aukeratu eguna</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-click="aldatuEgunaFiltroa(0)">Denak</ion-item>
      <ion-item ng-click="aldatuEgunaFiltroa(4)">Ostirala, Abenduak 4</ion-item>
      <ion-item ng-click="aldatuEgunaFiltroa(5)">Larunbata, Abenduak 5</ion-item>
      <ion-item ng-click="aldatuEgunaFiltroa(6)">Igandea, Abenduak 6</ion-item>
      <ion-item ng-click="aldatuEgunaFiltroa(7)">Astelehena, Abenduak 7</ion-item>
      <ion-item ng-click="aldatuEgunaFiltroa(8)">Asteartea, Abenduak 8</ion-item>
    </ion-list>
  </ion-content>
</ion-popover-view>
