<ion-popover-view>
  <ion-header-bar>
    <h1 class="title">Aukeratu gunea</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-click="aldatuGuneaFiltroa(8)">Denak</ion-item>
      <ion-item ng-click="aldatuGuneaFiltroa(0)">Areto Nagusia</ion-item>
      <ion-item ng-click="aldatuGuneaFiltroa(1)">Ahotsenea</ion-item>
      <ion-item ng-click="aldatuGuneaFiltroa(2)">Irudienea</ion-item>
      <ion-item ng-click="aldatuGuneaFiltroa(3)">Plateruena</ion-item>
      <ion-item ng-click="aldatuGuneaFiltroa(4)">Kabi@</ion-item>
      <ion-item ng-click="aldatuGuneaFiltroa(5)">Saguganbara</ion-item>
      <ion-item ng-click="aldatuGuneaFiltroa(6)">Szenatokia</ion-item>
      <ion-item ng-click="aldatuGuneaFiltroa(7)">Azoka TB</ion-item>
    </ion-list>
  </ion-content>
</ion-popover-view>
